/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
/* font-family: 'Roboto', sans-serif; */

/* common style start  */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
/* common style end */

/* slider style start  */
.img-wrapper-1,
.img-wrapper-2,
.img-wrapper-3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 584px;
}
.img-wrapper-1 {
  background-image: url(images/banner.png);
}
.img-wrapper-2 {
  background-image: url(images/cake.jpg);
}
.img-wrapper-3 {
  background-image: url(images/wedding.jpg);
}
.slider-title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
}
/* slider style end  */

/* pricious style start  */
.right-icon {
  font-size: 12px;
}
/* pricious style end */

/* package section style start  */
.section-title {
  font-size: 38px;
  line-height: 57px;
  color: #0a0826;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.package-title-1,
.package-title-2 {
  color: #231d4f;
}
.package-title-1 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.package-title-2 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.package-discrip-wrap {
  width: 90%;
}
.package-discription {
  color: #848199;
  font-size: 15px;
  line-height: 22px;
}
.check-icon-wrap {
  width: 20px;
  height: 20px;
  background-color: rgba(82, 67, 194, 0.103693);
  border-radius: 50px;
}
.check-icon-wrap i {
  font-size: 11px;
}
.package-icon-text {
  color: #848199;
  font-size: 15px;
  line-height: 22px;
}
.package-button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
}
.package-card-3 {
  background-color: #3f87f5;
  border-radius: 26px;
  color: #231d4f;
  /* box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25); */
}
/* package section style end  */

/* contact us style start */
.contact-background {
  background-image: url(images/wedding-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 580px;
}
.contact-title {
  color: #999;
}
.choose-input {
  color: #999;
}
/* contact us style start */

/* footer section style start */
.footer-section {
  background-color: #0b0d17;
}
.copyright-text-wrap {
  color: #d9dbe1;
}
.footer-title {
  font-size: 18px;
  color: #d9dbe1;
}
.download-text {
  font-size: 10px;
  color: #86878a;
}
.download-text {
  font-size: 12px;
}
/* footer section style end */
